body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#h1{
color: rgb(171, 173, 173); 
color: black;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.espaçoInicial{
    margin-top: 15px;
    display: flex;
   background-color: rgb(171, 173, 173);
   color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contador{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   border-radius: 25px;
   margin-top: 80px;
   width: 280px;
   height: 200px;
   border: 5px solid rgb(171, 173, 173);
}
.buttSub{
    background-color: rgb(171, 173, 173);
    height: 50px;
    width: 50px;
    border-radius: 12px ;
    margin-right: 52px;
    border: 2px solid rgb(171, 173, 173);
    color: white;
    font-size: 30px;
}
.buttAdd{
    background-color: rgb(171, 173, 173);
    height: 50px;
    width: 50px;
    border-radius: 12px;
    margin-left: 52px;
    border: 2px solid rgb(171, 173, 173);
    color: white;
    font-size: 30px;
}

#cont{
    color: rgb(171, 173, 173);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.zerar{
    background-color: rgb(171, 173, 173);
    margin-top: 32px;
    border-radius: 15px;
    width: 80px;
    height: 38px;
    font-size: 20px;
    color: white;
    border: 2px solid rgb(171, 173, 173);
}
.buttSub:hover{
    background-color: black;
}
.buttAdd:hover{
    background-color: black;
}

.zerar:hover{
    background-color: black;
}